/*-----INDEX.HTML-------*/

/*-----GENERAL-----*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --main-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --other-color: #f5f4fa;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --background-color: #2f303a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background: var(--main-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

/*----- END GENERAL-----*/

/*-----HEADER-----*/

.header {
  padding: 24px 0;
}
.header .container {
  display: flex;
}
.logo {
  margin-right: 93px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.navigation-second {
  display: flex;
  margin-left: auto;
}
.list-telephone {
  margin-left: 48px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-second {
  color: var(--logo-color);
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/*-----END HEADER-----*/

/*------MAIN------*/
.services {
  background: var(--background-color);
}
.services .container {
  text-align: center;
  height: 600px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-text-color);
  width: 696px;
  margin: 0 auto;
  padding-top: 200px;
}
.button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-top: 30px;
}

.list-quality:not(:last-child) {
  margin-right: 30px;
}
.list-forms {
  display: flex;
}

.quality {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  padding-top: 94px;
  padding-right: 30px;
}

.quality-inside {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  width: 270px;
  padding-top: 10px;
}

.picture-list {
  display: flex;
  justify-content: space-between;
}
.about-us,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.about-us {
  margin-top: 94px;
  margin-bottom: 50px;
  padding-left: 400px;
}
.section-second {
  background: var(--other-color);
  padding-bottom: 124px;
}
.team {
  margin-top: 188px;
  margin-bottom: 50px;
  padding-left: 450px;
  padding-top: 34px;
}
.list-photo {
  display: flex;
  justify-content: space-between;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.name {
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 59px;
}

.team-profil {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}
/*------END MAIN------*/

/*------FOOTER------*/
.footer {
  background: var(--background-color);
  height: 252px;
  padding-top: 60px;
}
.list-adress {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-logo-second {
  color: var(--main-text-color);
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 20px;
  margin-bottom: 9px;
}
.contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  margin-bottom: 9px;
}
/*------END FOOTER------*/

/*----END INDEX.HTML----*/

/*----PORTFOLIO-----*/

/*----MAIN-----*/

.all-button {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.projects {
  margin-right: 8px;
}
.projects {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: var(--other-color);
}
.projects:hover,
.projects:focus {
  background: var(--accent-color);
  color: var(--main-text-color);
}
.border {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}
.footer-second {
  margin-top: 94px;
}

.list .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-top: 20px;
  margin-bottom: 16px;
  padding-left: 24px;
}

.our-projects-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  padding-left: 24px;
}

/*-----END MAIN*/ ;
